<div class="container position-relative">
    <div *ngIf="skills && skills.length > 0">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <ng-container *ngFor="let skill of skills">
                        <div class="widthof">
                            <div class="card border-0 d-flex justify-content-center align-items-center">
                                <div mat-card-avatar class="skill-image">
                                    <img [src]="skill.imageUrl" alt="skill Image" style="height: 80px;">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title fw-bolder">{{skill.skilleName | uppercase}}</h5>
                                    <p>{{ skill.expirationDate | date }}</p>
                                    <p>To</p>
                                    <p>{{skill.someDate | date }}</p>
                                    <div>
                                        <button mat-icon-button color="primary"
                                            (click)="edit(skill)"><mat-icon>edit</mat-icon></button>
                                        <button mat-icon-button color="warn"
                                            (click)="delete(skill)"><mat-icon>delete</mat-icon></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="skills && skills.length === 0">
        No skills found.
    </div>
</div>
<div class="end-0 bottom-0 position-absolute">
    <button mat-fab color="warn" class="" (click)="add()">
        <mat-icon>add</mat-icon>
    </button>
</div>