<div class="container">
    <app-header></app-header>
    <div *ngIf="skills && skills.length > 0">
        <div class="card-container">
            <div class="card ">
                <div class="card-body ">
                    <div class="row py-3 border table-bordered">
                        <div class="col fs-6 fw-bolder">
                            Skill Name
                        </div>
                        <div class="col fs-6 fw-bolder">
                            Strating Data
                        </div>
                        <div class="col fs-6 fw-bolder">
                            Ending Date
                        </div>
                    </div>
                    <div *ngFor="let skill of skills">
                        <div class="row d-flex py-3 align-items-center border table-bordered">
                            <div class="col">
                                <div mat-card-avatar class="skill-image">
                                    <img [src]="skill.imageUrl" alt="skill Image" style="height: 80px;">
                                </div>
                            </div>
                            <div class="col">
                                {{ skill.expirationDate | date }}
                            </div>

                            <div class="col">
                                <span>{{skill.someDate | date }}</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="skills && skills.length === 0">
        No skills found.
    </div>

    <button mat-fab class="bg-primary rounded-5 p-3 border-0 position-absolute end-0 bottom-0" color="warn"
        (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>