<div class="">
    <app-header></app-header>
    <div *ngIf="projects && projects.length > 0">
        <div class="card-container">
            <mat-card *ngFor="let project of projects">
                <mat-card-header>
                    <div mat-card-avatar class="project-image">
                        <img [src]="project.imageUrl" alt="Project Image" style="width: 200px;height: 200px;">
                    </div>
                    <mat-card-title>{{ project.projectName }}</mat-card-title>
                    <mat-card-subtitle>{{ project.description }}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>
    </div>

    <div *ngIf="projects && projects.length === 0">
        No projects found.
    </div>

    <button mat-fab class="bg-primary rounded-5 p-3 border-0 position-absolute end-0 bottom-0" color="warn"
        (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>