<div class="container">
    <h1 mat-dialog-title>Add Project </h1>
    <div mat-dialog-content>
        <form [formGroup]="projectForm" (ngSubmit)="upload()" class="d-flex flex-column ">
            <mat-form-field>
                <mat-label>Project Name</mat-label>
                <input matInput formControlName="projectName" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" required></textarea>
            </mat-form-field>

            <mat-label>Image</mat-label>
            <input type="file" (change)="onFileSelected($event)" accept="image/*">


            <mat-form-field>
                <mat-label>Link</mat-label>
                <input matInput formControlName="link" required>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>
    </div>
</div>