<mat-toolbar class="d-flex justify-content-between bg-primary text-warning">
    <button mat-button class="bg-transparent border-0 text-white fw-bold" routerLink="">
        <span>My Profile</span>
    </button>
    <div>
        <button mat-button class="bg-transparent border-0 text-white fw-bold" routerLink="">
            Dashboard
        </button>
        <button mat-button class="bg-transparent border-0 text-white fw-bold" routerLink="/skills">
            Skills
        </button>
        <button mat-button class="bg-transparent border-0 text-white fw-bold" routerLink="/servies">
            Services
        </button>
        <button mat-button class="bg-transparent border-0 text-white fw-bold" routerLink="/project">
            Project
        </button>
        <button mat-button class="bg-transparent border-0 text-white fw-bold" routerLink="/certificates">
            Certificates
        </button>
        <button mat-button class="bg-transparent border-0 text-white fw-bold" routerLink="/clients">
            Clients
        </button>
        <button mat-button class="bg-transparent border-0 text-white fw-bold" routerLink="/myself">
            Myself
        </button>
    </div>
</mat-toolbar>