<div class="container">
    <app-header></app-header>
    <div class="row d-flex justify-content-between align-items-center" *ngFor="let clientS of client">
        <div class="col">
            {{clientS.formName}}
        </div>
        <div class="col">
            <img [src]="clientS.imageUrl" alt="" style="height: 150px;width: 150px;">
        </div>
    </div>
    <button mat-fab class="bg-primary rounded-5 p-3 border-0 position-absolute end-0 bottom-0" color="warn"
        (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>