<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row d-flex justify-content-between align-items-center"
                *ngFor="let clientS of client let i = index">
                <div class="col">
                    {{clientS.formName}}
                </div>
                <div class="col">
                    <img [src]="clientS.imageUrl" alt="" style="height: 100px;">
                </div>
                <div class="col">
                    <button mat-raised-button color="primary" class="mx-2" (click)="edit(clientS)">Edit</button>
                    <button mat-raised-button color="warn" class="mx-2" (click)="delete(clientS)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<button mat-fab class="bg-primary rounded-5 p-3 border-0 position-absolute end-0 bottom-0" color="warn" (click)="add()">
    <mat-icon>add</mat-icon>
</button>